.proyecto {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #ddd;
}

.proyecto img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.proyecto h3 {
  margin: 10px 0;
  font-size: 18px;
}

.proyecto p {
  font-size: 14px;
  color: #666;
}
